.game-board {
  flex-grow: 1;
  align-items: center;
  gap: 10px;
}

.current-word {
  /** Fix the height to prevent a sudden change */
  display: inline-block;
  height: 35px;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #eee;
}

.game-board table {
  border-collapse: collapse;
  margin: 0 auto;
}